voucher_webservice/proxy_oldversion/viettel-ws-proxy/xml-resources/web-service-references/ScratchCardAPI/wsdl/115.84.178.2_8443/ScratchCardAPI/ScratchCardAPI.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.scratchcard.viettel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.scratchcard.viettel.com/" name="ScratchCardAPIService">
<types>
<xsd:schema>
<xsd:import namespace="http://api.scratchcard.viettel.com/" schemaLocation="https://115.84.178.2:8443/ScratchCardAPI/ScratchCardAPI?xsd=1" />
</xsd:schema>
</types>
<message name="topupCard">
<part name="parameters" element="tns:topupCard" />
</message>
<message name="topupCardResponse">
<part name="parameters" element="tns:topupCardResponse" />
</message>
<message name="queryCardStatus">
<part name="parameters" element="tns:queryCardStatus" />
</message>
<message name="queryCardStatusResponse">
<part name="parameters" element="tns:queryCardStatusResponse" />
</message>
<message name="queryResultTransaction">
<part name="parameters" element="tns:queryResultTransaction" />
</message>
<message name="queryResultTransactionResponse">
<part name="parameters" element="tns:queryResultTransactionResponse" />
</message>
<portType name="ScratchCardAPI">
<operation name="topupCard">
<input wsam:Action="http://api.scratchcard.viettel.com/ScratchCardAPI/topupCardRequest" message="tns:topupCard" />
<output wsam:Action="http://api.scratchcard.viettel.com/ScratchCardAPI/topupCardResponse" message="tns:topupCardResponse" />
</operation>
<operation name="queryCardStatus">
<input wsam:Action="http://api.scratchcard.viettel.com/ScratchCardAPI/queryCardStatusRequest" message="tns:queryCardStatus" />
<output wsam:Action="http://api.scratchcard.viettel.com/ScratchCardAPI/queryCardStatusResponse" message="tns:queryCardStatusResponse" />
</operation>
<operation name="queryResultTransaction">
<input wsam:Action="http://api.scratchcard.viettel.com/ScratchCardAPI/queryResultTransactionRequest" message="tns:queryResultTransaction" />
<output wsam:Action="http://api.scratchcard.viettel.com/ScratchCardAPI/queryResultTransactionResponse" message="tns:queryResultTransactionResponse" />
</operation>
</portType>
<binding name="ScratchCardAPIPortBinding" type="tns:ScratchCardAPI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="topupCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="queryCardStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="queryResultTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ScratchCardAPIService">
<port name="ScratchCardAPIPort" binding="tns:ScratchCardAPIPortBinding">
<soap:address location="https://115.84.178.2:8443/ScratchCardAPI/ScratchCardAPI" />
</port>
</service>
</definitions>