voucher_webservice/proxy_oldversion/VcardServiceProxy/src/META-INF/wsdl/10.26.6.7_8480/WebServiceVcard/WebServiceVcard.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/vss/vcard/dto" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/vss/vcard/dto" name="WebServiceVcard">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.26.6.7:8480/WebServiceVcard/WebServiceVcard?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://com/vss/vcard/dto" schemaLocation="http://10.26.6.7:8480/WebServiceVcard/WebServiceVcard?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="getTransactionErrorPercentReport">
<part name="parameters" element="tns:getTransactionErrorPercentReport"></part>
</message>
<message name="getTransactionErrorPercentReportResponse">
<part name="parameters" element="tns:getTransactionErrorPercentReportResponse"></part>
</message>
<message name="getIssuerPartnerValueList">
<part name="parameters" element="tns:getIssuerPartnerValueList"></part>
</message>
<message name="getIssuerPartnerValueListResponse">
<part name="parameters" element="tns:getIssuerPartnerValueListResponse"></part>
</message>
<message name="getPartnerShareList">
<part name="parameters" element="tns:getPartnerShareList"></part>
</message>
<message name="getPartnerShareListResponse">
<part name="parameters" element="tns:getPartnerShareListResponse"></part>
</message>
<message name="getTopPartnerList">
<part name="parameters" element="tns:getTopPartnerList"></part>
</message>
<message name="getTopPartnerListResponse">
<part name="parameters" element="tns:getTopPartnerListResponse"></part>
</message>
<message name="getIssuerShareList">
<part name="parameters" element="tns:getIssuerShareList"></part>
</message>
<message name="getIssuerShareListResponse">
<part name="parameters" element="tns:getIssuerShareListResponse"></part>
</message>
<message name="getParShareList">
<part name="parameters" element="tns:getParShareList"></part>
</message>
<message name="getParShareListResponse">
<part name="parameters" element="tns:getParShareListResponse"></part>
</message>
<message name="getTopParList">
<part name="parameters" element="tns:getTopParList"></part>
</message>
<message name="getTopParListResponse">
<part name="parameters" element="tns:getTopParListResponse"></part>
</message>
<message name="getGrowthValueList">
<part name="parameters" element="tns:getGrowthValueList"></part>
</message>
<message name="getGrowthValueListResponse">
<part name="parameters" element="tns:getGrowthValueListResponse"></part>
</message>
<message name="getLatestCardVolumeList">
<part name="parameters" element="tns:getLatestCardVolumeList"></part>
</message>
<message name="getLatestCardVolumeListResponse">
<part name="parameters" element="tns:getLatestCardVolumeListResponse"></part>
</message>
<message name="getIncomeListByIssuer">
<part name="parameters" element="tns:getIncomeListByIssuer"></part>
</message>
<message name="getIncomeListByIssuerResponse">
<part name="parameters" element="tns:getIncomeListByIssuerResponse"></part>
</message>
<message name="getPartnerIncomeListByPartnerAndIssuer">
<part name="parameters" element="tns:getPartnerIncomeListByPartnerAndIssuer"></part>
</message>
<message name="getPartnerIncomeListByPartnerAndIssuerResponse">
<part name="parameters" element="tns:getPartnerIncomeListByPartnerAndIssuerResponse"></part>
</message>
<message name="getMonthIncomeList">
<part name="parameters" element="tns:getMonthIncomeList"></part>
</message>
<message name="getMonthIncomeListResponse">
<part name="parameters" element="tns:getMonthIncomeListResponse"></part>
</message>
<message name="checkTransactionBySerialMySql">
<part name="parameters" element="tns:checkTransactionBySerialMySql"></part>
</message>
<message name="checkTransactionBySerialMySqlResponse">
<part name="parameters" element="tns:checkTransactionBySerialMySqlResponse"></part>
</message>
<message name="getPartnerIncome">
<part name="parameters" element="tns:getPartnerIncome"></part>
</message>
<message name="getPartnerIncomeResponse">
<part name="parameters" element="tns:getPartnerIncomeResponse"></part>
</message>
<message name="getCardVolumeListByPartner">
<part name="parameters" element="tns:getCardVolumeListByPartner"></part>
</message>
<message name="getCardVolumeListByPartnerResponse">
<part name="parameters" element="tns:getCardVolumeListByPartnerResponse"></part>
</message>
<message name="updateTransaction">
<part name="parameters" element="tns:updateTransaction"></part>
</message>
<message name="updateTransactionResponse">
<part name="parameters" element="tns:updateTransactionResponse"></part>
</message>
<message name="checkTransactionBySerial">
<part name="parameters" element="tns:checkTransactionBySerial"></part>
</message>
<message name="checkTransactionBySerialResponse">
<part name="parameters" element="tns:checkTransactionBySerialResponse"></part>
</message>
<message name="getCardVolumeListByPartnerEachDay">
<part name="parameters" element="tns:getCardVolumeListByPartnerEachDay"></part>
</message>
<message name="getCardVolumeListByPartnerEachDayResponse">
<part name="parameters" element="tns:getCardVolumeListByPartnerEachDayResponse"></part>
</message>
<message name="insertContract">
<part name="parameters" element="tns:insertContract"></part>
</message>
<message name="insertContractResponse">
<part name="parameters" element="tns:insertContractResponse"></part>
</message>
<message name="deleteContract">
<part name="parameters" element="tns:deleteContract"></part>
</message>
<message name="deleteContractResponse">
<part name="parameters" element="tns:deleteContractResponse"></part>
</message>
<message name="updateContract">
<part name="parameters" element="tns:updateContract"></part>
</message>
<message name="updateContractResponse">
<part name="parameters" element="tns:updateContractResponse"></part>
</message>
<message name="updateContractPeriodDate">
<part name="parameters" element="tns:updateContractPeriodDate"></part>
</message>
<message name="updateContractPeriodDateResponse">
<part name="parameters" element="tns:updateContractPeriodDateResponse"></part>
</message>
<message name="updateContractStatus">
<part name="parameters" element="tns:updateContractStatus"></part>
</message>
<message name="updateContractStatusResponse">
<part name="parameters" element="tns:updateContractStatusResponse"></part>
</message>
<message name="getContractById">
<part name="parameters" element="tns:getContractById"></part>
</message>
<message name="getContractByIdResponse">
<part name="parameters" element="tns:getContractByIdResponse"></part>
</message>
<message name="getIssuerListByContract">
<part name="parameters" element="tns:getIssuerListByContract"></part>
</message>
<message name="getIssuerListByContractResponse">
<part name="parameters" element="tns:getIssuerListByContractResponse"></part>
</message>
<message name="calculateContract">
<part name="parameters" element="tns:calculateContract"></part>
</message>
<message name="calculateContractResponse">
<part name="parameters" element="tns:calculateContractResponse"></part>
</message>
<message name="loadContractPeriod">
<part name="parameters" element="tns:loadContractPeriod"></part>
</message>
<message name="loadContractPeriodResponse">
<part name="parameters" element="tns:loadContractPeriodResponse"></part>
</message>
<message name="updateContractPeriod">
<part name="parameters" element="tns:updateContractPeriod"></part>
</message>
<message name="updateContractPeriodResponse">
<part name="parameters" element="tns:updateContractPeriodResponse"></part>
</message>
<message name="getTotalPartnerMySql">
<part name="parameters" element="tns:getTotalPartnerMySql"></part>
</message>
<message name="getTotalPartnerMySqlResponse">
<part name="parameters" element="tns:getTotalPartnerMySqlResponse"></part>
</message>
<message name="insertPartnerMySql">
<part name="parameters" element="tns:insertPartnerMySql"></part>
</message>
<message name="insertPartnerMySqlResponse">
<part name="parameters" element="tns:insertPartnerMySqlResponse"></part>
</message>
<message name="updatePartnerMySql">
<part name="parameters" element="tns:updatePartnerMySql"></part>
</message>
<message name="updatePartnerMySqlResponse">
<part name="parameters" element="tns:updatePartnerMySqlResponse"></part>
</message>
<message name="deletePartnerByIdMySql">
<part name="parameters" element="tns:deletePartnerByIdMySql"></part>
</message>
<message name="deletePartnerByIdMySqlResponse">
<part name="parameters" element="tns:deletePartnerByIdMySqlResponse"></part>
</message>
<message name="getAllListPartnerMySql">
<part name="parameters" element="tns:getAllListPartnerMySql"></part>
</message>
<message name="getAllListPartnerMySqlResponse">
<part name="parameters" element="tns:getAllListPartnerMySqlResponse"></part>
</message>
<message name="getPartnerByIdMySql">
<part name="parameters" element="tns:getPartnerByIdMySql"></part>
</message>
<message name="getPartnerByIdMySqlResponse">
<part name="parameters" element="tns:getPartnerByIdMySqlResponse"></part>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"></part>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"></part>
</message>
<message name="changeLockStatus">
<part name="parameters" element="tns:changeLockStatus"></part>
</message>
<message name="changeLockStatusResponse">
<part name="parameters" element="tns:changeLockStatusResponse"></part>
</message>
<message name="getIssuerPartnerWrapperList">
<part name="parameters" element="tns:getIssuerPartnerWrapperList"></part>
</message>
<message name="getIssuerPartnerWrapperListResponse">
<part name="parameters" element="tns:getIssuerPartnerWrapperListResponse"></part>
</message>
<message name="getIssuerPartnerList">
<part name="parameters" element="tns:getIssuerPartnerList"></part>
</message>
<message name="getIssuerPartnerListResponse">
<part name="parameters" element="tns:getIssuerPartnerListResponse"></part>
</message>
<message name="updateIssuerPartner">
<part name="parameters" element="tns:updateIssuerPartner"></part>
</message>
<message name="updateIssuerPartnerResponse">
<part name="parameters" element="tns:updateIssuerPartnerResponse"></part>
</message>
<message name="countCardVolumeListByPartnerEachDay">
<part name="parameters" element="tns:countCardVolumeListByPartnerEachDay"></part>
</message>
<message name="countCardVolumeListByPartnerEachDayResponse">
<part name="parameters" element="tns:countCardVolumeListByPartnerEachDayResponse"></part>
</message>
<message name="getTransactionListByPartner">
<part name="parameters" element="tns:getTransactionListByPartner"></part>
</message>
<message name="getTransactionListByPartnerResponse">
<part name="parameters" element="tns:getTransactionListByPartnerResponse"></part>
</message>
<message name="countTransactionListByPartner">
<part name="parameters" element="tns:countTransactionListByPartner"></part>
</message>
<message name="countTransactionListByPartnerResponse">
<part name="parameters" element="tns:countTransactionListByPartnerResponse"></part>
</message>
<message name="getSumValueByPartner">
<part name="parameters" element="tns:getSumValueByPartner"></part>
</message>
<message name="getSumValueByPartnerResponse">
<part name="parameters" element="tns:getSumValueByPartnerResponse"></part>
</message>
<message name="getCardVolumeByAllPartnerEachDay">
<part name="parameters" element="tns:getCardVolumeByAllPartnerEachDay"></part>
</message>
<message name="getCardVolumeByAllPartnerEachDayResponse">
<part name="parameters" element="tns:getCardVolumeByAllPartnerEachDayResponse"></part>
</message>
<message name="countCardVolumeByAllPartnerEachDay">
<part name="parameters" element="tns:countCardVolumeByAllPartnerEachDay"></part>
</message>
<message name="countCardVolumeByAllPartnerEachDayResponse">
<part name="parameters" element="tns:countCardVolumeByAllPartnerEachDayResponse"></part>
</message>
<message name="getCardVolumeList">
<part name="parameters" element="tns:getCardVolumeList"></part>
</message>
<message name="getCardVolumeListResponse">
<part name="parameters" element="tns:getCardVolumeListResponse"></part>
</message>
<message name="countCardVolumeList">
<part name="parameters" element="tns:countCardVolumeList"></part>
</message>
<message name="countCardVolumeListResponse">
<part name="parameters" element="tns:countCardVolumeListResponse"></part>
</message>
<message name="loadTransaction">
<part name="parameters" element="tns:loadTransaction"></part>
</message>
<message name="loadTransactionResponse">
<part name="parameters" element="tns:loadTransactionResponse"></part>
</message>
<message name="getIncomeTableByProvider">
<part name="parameters" element="tns:getIncomeTableByProvider"></part>
</message>
<message name="getIncomeTableByProviderResponse">
<part name="parameters" element="tns:getIncomeTableByProviderResponse"></part>
</message>
<message name="insertCard">
<part name="parameters" element="tns:insertCard"></part>
</message>
<message name="insertCardResponse">
<part name="parameters" element="tns:insertCardResponse"></part>
</message>
<message name="getListCardByIssuerId">
<part name="parameters" element="tns:getListCardByIssuerId"></part>
</message>
<message name="getListCardByIssuerIdResponse">
<part name="parameters" element="tns:getListCardByIssuerIdResponse"></part>
</message>
<message name="deleteCard">
<part name="parameters" element="tns:deleteCard"></part>
</message>
<message name="deleteCardResponse">
<part name="parameters" element="tns:deleteCardResponse"></part>
</message>
<message name="insertIssuer">
<part name="parameters" element="tns:insertIssuer"></part>
</message>
<message name="insertIssuerResponse">
<part name="parameters" element="tns:insertIssuerResponse"></part>
</message>
<message name="insertFee">
<part name="parameters" element="tns:insertFee"></part>
</message>
<message name="insertFeeResponse">
<part name="parameters" element="tns:insertFeeResponse"></part>
</message>
<message name="updateFee">
<part name="parameters" element="tns:updateFee"></part>
</message>
<message name="updateFeeResponse">
<part name="parameters" element="tns:updateFeeResponse"></part>
</message>
<message name="deleteFee">
<part name="parameters" element="tns:deleteFee"></part>
</message>
<message name="deleteFeeResponse">
<part name="parameters" element="tns:deleteFeeResponse"></part>
</message>
<message name="getFee">
<part name="parameters" element="tns:getFee"></part>
</message>
<message name="getFeeResponse">
<part name="parameters" element="tns:getFeeResponse"></part>
</message>
<message name="calculateFee">
<part name="parameters" element="tns:calculateFee"></part>
</message>
<message name="calculateFeeResponse">
<part name="parameters" element="tns:calculateFeeResponse"></part>
</message>
<message name="getIssuer">
<part name="parameters" element="tns:getIssuer"></part>
</message>
<message name="getIssuerResponse">
<part name="parameters" element="tns:getIssuerResponse"></part>
</message>
<message name="getAllIssuer">
<part name="parameters" element="tns:getAllIssuer"></part>
</message>
<message name="getAllIssuerResponse">
<part name="parameters" element="tns:getAllIssuerResponse"></part>
</message>
<message name="updateIssuer">
<part name="parameters" element="tns:updateIssuer"></part>
</message>
<message name="updateIssuerResponse">
<part name="parameters" element="tns:updateIssuerResponse"></part>
</message>
<message name="deleteIssuer">
<part name="parameters" element="tns:deleteIssuer"></part>
</message>
<message name="deleteIssuerResponse">
<part name="parameters" element="tns:deleteIssuerResponse"></part>
</message>
<message name="getFeeListByPartnerId">
<part name="parameters" element="tns:getFeeListByPartnerId"></part>
</message>
<message name="getFeeListByPartnerIdResponse">
<part name="parameters" element="tns:getFeeListByPartnerIdResponse"></part>
</message>
<message name="getContractList">
<part name="parameters" element="tns:getContractList"></part>
</message>
<message name="getContractListResponse">
<part name="parameters" element="tns:getContractListResponse"></part>
</message>
<message name="getFeeList">
<part name="parameters" element="tns:getFeeList"></part>
</message>
<message name="getFeeListResponse">
<part name="parameters" element="tns:getFeeListResponse"></part>
</message>
<message name="updateStatus">
<part name="parameters" element="tns:updateStatus"></part>
</message>
<message name="updateStatusResponse">
<part name="parameters" element="tns:updateStatusResponse"></part>
</message>
<message name="loadPayment">
<part name="parameters" element="tns:loadPayment"></part>
</message>
<message name="loadPaymentResponse">
<part name="parameters" element="tns:loadPaymentResponse"></part>
</message>
<message name="getPaymentHistoryList">
<part name="parameters" element="tns:getPaymentHistoryList"></part>
</message>
<message name="getPaymentHistoryListResponse">
<part name="parameters" element="tns:getPaymentHistoryListResponse"></part>
</message>
<message name="createPayment">
<part name="parameters" element="tns:createPayment"></part>
</message>
<message name="createPaymentResponse">
<part name="parameters" element="tns:createPaymentResponse"></part>
</message>
<message name="getPaymentStatusList">
<part name="parameters" element="tns:getPaymentStatusList"></part>
</message>
<message name="getPaymentStatusListResponse">
<part name="parameters" element="tns:getPaymentStatusListResponse"></part>
</message>
<message name="savePaymentRequestTime">
<part name="parameters" element="tns:savePaymentRequestTime"></part>
</message>
<message name="savePaymentRequestTimeResponse">
<part name="parameters" element="tns:savePaymentRequestTimeResponse"></part>
</message>
<message name="savePaidTime">
<part name="parameters" element="tns:savePaidTime"></part>
</message>
<message name="savePaidTimeResponse">
<part name="parameters" element="tns:savePaidTimeResponse"></part>
</message>
<message name="getNewPaymentList">
<part name="parameters" element="tns:getNewPaymentList"></part>
</message>
<message name="getNewPaymentListResponse">
<part name="parameters" element="tns:getNewPaymentListResponse"></part>
</message>
<message name="getCompareIssuerList">
<part name="parameters" element="tns:getCompareIssuerList"></part>
</message>
<message name="getCompareIssuerListResponse">
<part name="parameters" element="tns:getCompareIssuerListResponse"></part>
</message>
<message name="updateCompareIssuerList">
<part name="parameters" element="tns:updateCompareIssuerList"></part>
</message>
<message name="updateCompareIssuerListResponse">
<part name="parameters" element="tns:updateCompareIssuerListResponse"></part>
</message>
<message name="getComparePartnerList">
<part name="parameters" element="tns:getComparePartnerList"></part>
</message>
<message name="getComparePartnerListResponse">
<part name="parameters" element="tns:getComparePartnerListResponse"></part>
</message>
<message name="updateComparePartnerList">
<part name="parameters" element="tns:updateComparePartnerList"></part>
</message>
<message name="updateComparePartnerListResponse">
<part name="parameters" element="tns:updateComparePartnerListResponse"></part>
</message>
<message name="getPaymentList">
<part name="parameters" element="tns:getPaymentList"></part>
</message>
<message name="getPaymentListResponse">
<part name="parameters" element="tns:getPaymentListResponse"></part>
</message>
<message name="countPaymentList">
<part name="parameters" element="tns:countPaymentList"></part>
</message>
<message name="countPaymentListResponse">
<part name="parameters" element="tns:countPaymentListResponse"></part>
</message>
<message name="getPaymentListTotal">
<part name="parameters" element="tns:getPaymentListTotal"></part>
</message>
<message name="getPaymentListTotalResponse">
<part name="parameters" element="tns:getPaymentListTotalResponse"></part>
</message>
<message name="saveSendCompareReportTime">
<part name="parameters" element="tns:saveSendCompareReportTime"></part>
</message>
<message name="saveSendCompareReportTimeResponse">
<part name="parameters" element="tns:saveSendCompareReportTimeResponse"></part>
</message>
<portType name="WebServiceVcard">
<operation name="getTransactionErrorPercentReport">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTransactionErrorPercentReportRequest" message="tns:getTransactionErrorPercentReport"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTransactionErrorPercentReportResponse" message="tns:getTransactionErrorPercentReportResponse"></output>
</operation>
<operation name="getIssuerPartnerValueList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerPartnerValueListRequest" message="tns:getIssuerPartnerValueList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerPartnerValueListResponse" message="tns:getIssuerPartnerValueListResponse"></output>
</operation>
<operation name="getPartnerShareList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerShareListRequest" message="tns:getPartnerShareList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerShareListResponse" message="tns:getPartnerShareListResponse"></output>
</operation>
<operation name="getTopPartnerList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTopPartnerListRequest" message="tns:getTopPartnerList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTopPartnerListResponse" message="tns:getTopPartnerListResponse"></output>
</operation>
<operation name="getIssuerShareList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerShareListRequest" message="tns:getIssuerShareList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerShareListResponse" message="tns:getIssuerShareListResponse"></output>
</operation>
<operation name="getParShareList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getParShareListRequest" message="tns:getParShareList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getParShareListResponse" message="tns:getParShareListResponse"></output>
</operation>
<operation name="getTopParList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTopParListRequest" message="tns:getTopParList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTopParListResponse" message="tns:getTopParListResponse"></output>
</operation>
<operation name="getGrowthValueList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getGrowthValueListRequest" message="tns:getGrowthValueList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getGrowthValueListResponse" message="tns:getGrowthValueListResponse"></output>
</operation>
<operation name="getLatestCardVolumeList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getLatestCardVolumeListRequest" message="tns:getLatestCardVolumeList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getLatestCardVolumeListResponse" message="tns:getLatestCardVolumeListResponse"></output>
</operation>
<operation name="getIncomeListByIssuer">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIncomeListByIssuerRequest" message="tns:getIncomeListByIssuer"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIncomeListByIssuerResponse" message="tns:getIncomeListByIssuerResponse"></output>
</operation>
<operation name="getPartnerIncomeListByPartnerAndIssuer">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerIncomeListByPartnerAndIssuerRequest" message="tns:getPartnerIncomeListByPartnerAndIssuer"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerIncomeListByPartnerAndIssuerResponse" message="tns:getPartnerIncomeListByPartnerAndIssuerResponse"></output>
</operation>
<operation name="getMonthIncomeList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getMonthIncomeListRequest" message="tns:getMonthIncomeList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getMonthIncomeListResponse" message="tns:getMonthIncomeListResponse"></output>
</operation>
<operation name="checkTransactionBySerialMySql">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/checkTransactionBySerialMySqlRequest" message="tns:checkTransactionBySerialMySql"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/checkTransactionBySerialMySqlResponse" message="tns:checkTransactionBySerialMySqlResponse"></output>
</operation>
<operation name="getPartnerIncome">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerIncomeRequest" message="tns:getPartnerIncome"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerIncomeResponse" message="tns:getPartnerIncomeResponse"></output>
</operation>
<operation name="getCardVolumeListByPartner">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeListByPartnerRequest" message="tns:getCardVolumeListByPartner"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeListByPartnerResponse" message="tns:getCardVolumeListByPartnerResponse"></output>
</operation>
<operation name="updateTransaction">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateTransactionRequest" message="tns:updateTransaction"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateTransactionResponse" message="tns:updateTransactionResponse"></output>
</operation>
<operation name="checkTransactionBySerial">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/checkTransactionBySerialRequest" message="tns:checkTransactionBySerial"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/checkTransactionBySerialResponse" message="tns:checkTransactionBySerialResponse"></output>
</operation>
<operation name="getCardVolumeListByPartnerEachDay">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeListByPartnerEachDayRequest" message="tns:getCardVolumeListByPartnerEachDay"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeListByPartnerEachDayResponse" message="tns:getCardVolumeListByPartnerEachDayResponse"></output>
</operation>
<operation name="insertContract">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertContractRequest" message="tns:insertContract"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertContractResponse" message="tns:insertContractResponse"></output>
</operation>
<operation name="deleteContract">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteContractRequest" message="tns:deleteContract"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteContractResponse" message="tns:deleteContractResponse"></output>
</operation>
<operation name="updateContract">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractRequest" message="tns:updateContract"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractResponse" message="tns:updateContractResponse"></output>
</operation>
<operation name="updateContractPeriodDate">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractPeriodDateRequest" message="tns:updateContractPeriodDate"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractPeriodDateResponse" message="tns:updateContractPeriodDateResponse"></output>
</operation>
<operation name="updateContractStatus">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractStatusRequest" message="tns:updateContractStatus"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractStatusResponse" message="tns:updateContractStatusResponse"></output>
</operation>
<operation name="getContractById">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getContractByIdRequest" message="tns:getContractById"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getContractByIdResponse" message="tns:getContractByIdResponse"></output>
</operation>
<operation name="getIssuerListByContract">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerListByContractRequest" message="tns:getIssuerListByContract"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerListByContractResponse" message="tns:getIssuerListByContractResponse"></output>
</operation>
<operation name="calculateContract">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/calculateContractRequest" message="tns:calculateContract"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/calculateContractResponse" message="tns:calculateContractResponse"></output>
</operation>
<operation name="loadContractPeriod">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/loadContractPeriodRequest" message="tns:loadContractPeriod"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/loadContractPeriodResponse" message="tns:loadContractPeriodResponse"></output>
</operation>
<operation name="updateContractPeriod">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractPeriodRequest" message="tns:updateContractPeriod"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateContractPeriodResponse" message="tns:updateContractPeriodResponse"></output>
</operation>
<operation name="getTotalPartnerMySql">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTotalPartnerMySqlRequest" message="tns:getTotalPartnerMySql"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTotalPartnerMySqlResponse" message="tns:getTotalPartnerMySqlResponse"></output>
</operation>
<operation name="insertPartnerMySql">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertPartnerMySqlRequest" message="tns:insertPartnerMySql"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertPartnerMySqlResponse" message="tns:insertPartnerMySqlResponse"></output>
</operation>
<operation name="updatePartnerMySql">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updatePartnerMySqlRequest" message="tns:updatePartnerMySql"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updatePartnerMySqlResponse" message="tns:updatePartnerMySqlResponse"></output>
</operation>
<operation name="deletePartnerByIdMySql">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deletePartnerByIdMySqlRequest" message="tns:deletePartnerByIdMySql"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deletePartnerByIdMySqlResponse" message="tns:deletePartnerByIdMySqlResponse"></output>
</operation>
<operation name="getAllListPartnerMySql">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getAllListPartnerMySqlRequest" message="tns:getAllListPartnerMySql"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getAllListPartnerMySqlResponse" message="tns:getAllListPartnerMySqlResponse"></output>
</operation>
<operation name="getPartnerByIdMySql">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerByIdMySqlRequest" message="tns:getPartnerByIdMySql"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPartnerByIdMySqlResponse" message="tns:getPartnerByIdMySqlResponse"></output>
</operation>
<operation name="changePassword">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/changePasswordRequest" message="tns:changePassword"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/changePasswordResponse" message="tns:changePasswordResponse"></output>
</operation>
<operation name="changeLockStatus">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/changeLockStatusRequest" message="tns:changeLockStatus"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/changeLockStatusResponse" message="tns:changeLockStatusResponse"></output>
</operation>
<operation name="getIssuerPartnerWrapperList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerPartnerWrapperListRequest" message="tns:getIssuerPartnerWrapperList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerPartnerWrapperListResponse" message="tns:getIssuerPartnerWrapperListResponse"></output>
</operation>
<operation name="getIssuerPartnerList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerPartnerListRequest" message="tns:getIssuerPartnerList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerPartnerListResponse" message="tns:getIssuerPartnerListResponse"></output>
</operation>
<operation name="updateIssuerPartner">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateIssuerPartnerRequest" message="tns:updateIssuerPartner"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateIssuerPartnerResponse" message="tns:updateIssuerPartnerResponse"></output>
</operation>
<operation name="countCardVolumeListByPartnerEachDay">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countCardVolumeListByPartnerEachDayRequest" message="tns:countCardVolumeListByPartnerEachDay"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countCardVolumeListByPartnerEachDayResponse" message="tns:countCardVolumeListByPartnerEachDayResponse"></output>
</operation>
<operation name="getTransactionListByPartner">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTransactionListByPartnerRequest" message="tns:getTransactionListByPartner"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getTransactionListByPartnerResponse" message="tns:getTransactionListByPartnerResponse"></output>
</operation>
<operation name="countTransactionListByPartner">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countTransactionListByPartnerRequest" message="tns:countTransactionListByPartner"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countTransactionListByPartnerResponse" message="tns:countTransactionListByPartnerResponse"></output>
</operation>
<operation name="getSumValueByPartner">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getSumValueByPartnerRequest" message="tns:getSumValueByPartner"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getSumValueByPartnerResponse" message="tns:getSumValueByPartnerResponse"></output>
</operation>
<operation name="getCardVolumeByAllPartnerEachDay">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeByAllPartnerEachDayRequest" message="tns:getCardVolumeByAllPartnerEachDay"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeByAllPartnerEachDayResponse" message="tns:getCardVolumeByAllPartnerEachDayResponse"></output>
</operation>
<operation name="countCardVolumeByAllPartnerEachDay">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countCardVolumeByAllPartnerEachDayRequest" message="tns:countCardVolumeByAllPartnerEachDay"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countCardVolumeByAllPartnerEachDayResponse" message="tns:countCardVolumeByAllPartnerEachDayResponse"></output>
</operation>
<operation name="getCardVolumeList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeListRequest" message="tns:getCardVolumeList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCardVolumeListResponse" message="tns:getCardVolumeListResponse"></output>
</operation>
<operation name="countCardVolumeList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countCardVolumeListRequest" message="tns:countCardVolumeList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countCardVolumeListResponse" message="tns:countCardVolumeListResponse"></output>
</operation>
<operation name="loadTransaction">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/loadTransactionRequest" message="tns:loadTransaction"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/loadTransactionResponse" message="tns:loadTransactionResponse"></output>
</operation>
<operation name="getIncomeTableByProvider">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIncomeTableByProviderRequest" message="tns:getIncomeTableByProvider"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIncomeTableByProviderResponse" message="tns:getIncomeTableByProviderResponse"></output>
</operation>
<operation name="insertCard">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertCardRequest" message="tns:insertCard"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertCardResponse" message="tns:insertCardResponse"></output>
</operation>
<operation name="getListCardByIssuerId">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getListCardByIssuerIdRequest" message="tns:getListCardByIssuerId"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getListCardByIssuerIdResponse" message="tns:getListCardByIssuerIdResponse"></output>
</operation>
<operation name="deleteCard">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteCardRequest" message="tns:deleteCard"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteCardResponse" message="tns:deleteCardResponse"></output>
</operation>
<operation name="insertIssuer">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertIssuerRequest" message="tns:insertIssuer"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertIssuerResponse" message="tns:insertIssuerResponse"></output>
</operation>
<operation name="insertFee">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertFeeRequest" message="tns:insertFee"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/insertFeeResponse" message="tns:insertFeeResponse"></output>
</operation>
<operation name="updateFee">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateFeeRequest" message="tns:updateFee"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateFeeResponse" message="tns:updateFeeResponse"></output>
</operation>
<operation name="deleteFee">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteFeeRequest" message="tns:deleteFee"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteFeeResponse" message="tns:deleteFeeResponse"></output>
</operation>
<operation name="getFee">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getFeeRequest" message="tns:getFee"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getFeeResponse" message="tns:getFeeResponse"></output>
</operation>
<operation name="calculateFee">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/calculateFeeRequest" message="tns:calculateFee"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/calculateFeeResponse" message="tns:calculateFeeResponse"></output>
</operation>
<operation name="getIssuer">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerRequest" message="tns:getIssuer"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getIssuerResponse" message="tns:getIssuerResponse"></output>
</operation>
<operation name="getAllIssuer">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getAllIssuerRequest" message="tns:getAllIssuer"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getAllIssuerResponse" message="tns:getAllIssuerResponse"></output>
</operation>
<operation name="updateIssuer">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateIssuerRequest" message="tns:updateIssuer"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateIssuerResponse" message="tns:updateIssuerResponse"></output>
</operation>
<operation name="deleteIssuer">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteIssuerRequest" message="tns:deleteIssuer"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/deleteIssuerResponse" message="tns:deleteIssuerResponse"></output>
</operation>
<operation name="getFeeListByPartnerId">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getFeeListByPartnerIdRequest" message="tns:getFeeListByPartnerId"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getFeeListByPartnerIdResponse" message="tns:getFeeListByPartnerIdResponse"></output>
</operation>
<operation name="getContractList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getContractListRequest" message="tns:getContractList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getContractListResponse" message="tns:getContractListResponse"></output>
</operation>
<operation name="getFeeList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getFeeListRequest" message="tns:getFeeList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getFeeListResponse" message="tns:getFeeListResponse"></output>
</operation>
<operation name="updateStatus">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateStatusRequest" message="tns:updateStatus"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateStatusResponse" message="tns:updateStatusResponse"></output>
</operation>
<operation name="loadPayment">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/loadPaymentRequest" message="tns:loadPayment"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/loadPaymentResponse" message="tns:loadPaymentResponse"></output>
</operation>
<operation name="getPaymentHistoryList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentHistoryListRequest" message="tns:getPaymentHistoryList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentHistoryListResponse" message="tns:getPaymentHistoryListResponse"></output>
</operation>
<operation name="createPayment">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/createPaymentRequest" message="tns:createPayment"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/createPaymentResponse" message="tns:createPaymentResponse"></output>
</operation>
<operation name="getPaymentStatusList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentStatusListRequest" message="tns:getPaymentStatusList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentStatusListResponse" message="tns:getPaymentStatusListResponse"></output>
</operation>
<operation name="savePaymentRequestTime">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/savePaymentRequestTimeRequest" message="tns:savePaymentRequestTime"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/savePaymentRequestTimeResponse" message="tns:savePaymentRequestTimeResponse"></output>
</operation>
<operation name="savePaidTime">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/savePaidTimeRequest" message="tns:savePaidTime"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/savePaidTimeResponse" message="tns:savePaidTimeResponse"></output>
</operation>
<operation name="getNewPaymentList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getNewPaymentListRequest" message="tns:getNewPaymentList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getNewPaymentListResponse" message="tns:getNewPaymentListResponse"></output>
</operation>
<operation name="getCompareIssuerList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCompareIssuerListRequest" message="tns:getCompareIssuerList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getCompareIssuerListResponse" message="tns:getCompareIssuerListResponse"></output>
</operation>
<operation name="updateCompareIssuerList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateCompareIssuerListRequest" message="tns:updateCompareIssuerList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateCompareIssuerListResponse" message="tns:updateCompareIssuerListResponse"></output>
</operation>
<operation name="getComparePartnerList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getComparePartnerListRequest" message="tns:getComparePartnerList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getComparePartnerListResponse" message="tns:getComparePartnerListResponse"></output>
</operation>
<operation name="updateComparePartnerList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateComparePartnerListRequest" message="tns:updateComparePartnerList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/updateComparePartnerListResponse" message="tns:updateComparePartnerListResponse"></output>
</operation>
<operation name="getPaymentList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentListRequest" message="tns:getPaymentList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentListResponse" message="tns:getPaymentListResponse"></output>
</operation>
<operation name="countPaymentList">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countPaymentListRequest" message="tns:countPaymentList"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/countPaymentListResponse" message="tns:countPaymentListResponse"></output>
</operation>
<operation name="getPaymentListTotal">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentListTotalRequest" message="tns:getPaymentListTotal"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/getPaymentListTotalResponse" message="tns:getPaymentListTotalResponse"></output>
</operation>
<operation name="saveSendCompareReportTime">
<input wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/saveSendCompareReportTimeRequest" message="tns:saveSendCompareReportTime"></input>
<output wsam:Action="http://com/vss/vcard/dto/WebServiceVcard/saveSendCompareReportTimeResponse" message="tns:saveSendCompareReportTimeResponse"></output>
</operation>
</portType>
<binding name="WebServiceVcardPortBinding" type="tns:WebServiceVcard">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getTransactionErrorPercentReport">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIssuerPartnerValueList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPartnerShareList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTopPartnerList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIssuerShareList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getParShareList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTopParList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGrowthValueList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLatestCardVolumeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIncomeListByIssuer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPartnerIncomeListByPartnerAndIssuer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMonthIncomeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkTransactionBySerialMySql">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPartnerIncome">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCardVolumeListByPartner">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkTransactionBySerial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCardVolumeListByPartnerEachDay">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertContract">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteContract">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateContract">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateContractPeriodDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateContractStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContractById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIssuerListByContract">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="calculateContract">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="loadContractPeriod">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateContractPeriod">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTotalPartnerMySql">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertPartnerMySql">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updatePartnerMySql">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deletePartnerByIdMySql">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllListPartnerMySql">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPartnerByIdMySql">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="changeLockStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIssuerPartnerWrapperList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIssuerPartnerList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateIssuerPartner">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="countCardVolumeListByPartnerEachDay">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTransactionListByPartner">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="countTransactionListByPartner">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSumValueByPartner">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCardVolumeByAllPartnerEachDay">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="countCardVolumeByAllPartnerEachDay">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCardVolumeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="countCardVolumeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="loadTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIncomeTableByProvider">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListCardByIssuerId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertIssuer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="insertFee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateFee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteFee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="calculateFee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIssuer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllIssuer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateIssuer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteIssuer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFeeListByPartnerId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContractList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFeeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="loadPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPaymentHistoryList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPaymentStatusList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="savePaymentRequestTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="savePaidTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNewPaymentList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCompareIssuerList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateCompareIssuerList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getComparePartnerList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateComparePartnerList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPaymentList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="countPaymentList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPaymentListTotal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="saveSendCompareReportTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebServiceVcard">
<port name="WebServiceVcardPort" binding="tns:WebServiceVcardPortBinding">
<soap:address location="http://10.26.6.7:8480/WebServiceVcard/WebServiceVcard"></soap:address>
</port>
</service>
</definitions>