voucher_webservice/proxy/VTCTelcoProxy/xml-resources/web-service-references/card/wsdl/sandbox2.vtcebank.vn/WSCard2010/card.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="VTCOnline.Card.WebAPI" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="VTCOnline.Card.WebAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="VTCOnline.Card.WebAPI">
      <s:element name="Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PartnerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestSoapIn">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="RequestSoapOut">
    <wsdl:part name="parameters" element="tns:RequestResponse" />
  </wsdl:message>
  <wsdl:portType name="cardSoap">
    <wsdl:operation name="Request">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Nhận thông tin yêu cầu</wsdl:documentation>
      <wsdl:input message="tns:RequestSoapIn" />
      <wsdl:output message="tns:RequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cardSoap" type="tns:cardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Request">
      <soap:operation soapAction="VTCOnline.Card.WebAPI/Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="cardSoap12" type="tns:cardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Request">
      <soap12:operation soapAction="VTCOnline.Card.WebAPI/Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="card">
    <wsdl:port name="cardSoap" binding="tns:cardSoap">
      <soap:address location="http://sandbox2.vtcebank.vn/WSCard2010/card.asmx" />
    </wsdl:port>
    <wsdl:port name="cardSoap12" binding="tns:cardSoap12">
      <soap12:address location="http://sandbox2.vtcebank.vn/WSCard2010/card.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>